.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 25vh;
}

.left, .right {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: 2px solid;
  animation: borderAnimation 5s infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: #ff00dd;
  }
  33% {
    border-color: #00ffdd;
  }
  66% {
    border-color: #ddff00;
  }
  100% {
    border-color: #ff00dd;
  }
}


.left:hover, .right:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}

.title-part1 {
  color: #3498db;
  font-size: 0.9em;
}

.title-part2 {
  background: linear-gradient(45deg, #ff00d4, #00ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
  font-size: 0.7em;

}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.8;
  margin-right: 1em;
}

.img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
  border-width: 2px;
  border-style: solid;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resumeButton {
  color: #0070f3;
  border-color: #0070f3;
}

.resumeButton:hover {
  background-color: rgba(0, 112, 243, 0.1);
}

.githubButton {
  color: #6e5494;
  border-color: #6e5494;
}

.githubButton:hover {
  background-color: rgba(110, 84, 148, 0.1);
}

.icon {
  font-size: 1.2em;
}

@media (max-width: 768px) {

  .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
  }

  .title-part1 {
    font-size: 1em;
  }

  .title-part2 {
    font-size: 0.8em;
  }
  
  .left, .right {
    flex-basis: auto;
    padding: 20px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
    text-align: left;
    text-align: justify; 
  }

  .img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
  }

  .buttonContainer {
    justify-content: center;
  }
}
